<!DOCTYPE html>

<head>
    <title>
        <%= ip %> - IP
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/index.css"/>
</head>

<body>
    <header>
        <h1>About the Address.</h1>
        <pre><code><%= ip %></code></pre>
        <p>Powered by <a href="https://ip.ovo.gs/">IP.OVO.GS</a>. A streamlined and simple api for IP address
            information, IPv4/IPv6 dual stack support.</p>
    </header>

    <p>Request <overflow-y><code>/<%= ip %>?type=json&format=true</code></overflow-y></p>

    <pre><code type="application/json"><%- highlight.highlight(JSON.stringify(info, null, 4),{language:"json"}).value %></code></pre>


    <api-doc>
        <h2>API Documentation</h2>

        <h3><code>/[:ip][?type][?format][?callback][?ip]</code></h3>

        <p>Return about client ip info.</p>

        <pre><code><%- highlight.highlight(`/**
 * Response Text Type.
 * It can also be determined by the Header "Accept".
 */
enum type {
    "json", // application/json in Accept Header, Default.
    "plain",// Default value of Accept is not defined when the request path is /.
    "html", // text/html in Accept Header.
    "xml", // text/xml in Accept Header.
    "jsonp", // text/javascript in Accept Header.
    "yaml", // text/yaml in Accept Header.
    "rawjson", // Can only be determined by the type param.
    "humanReadable", // Can only be determined by the type param.
}
/**
 * Decide whether the JSON text is formatted.
 * Only used when type is "json" or "rawjson".
 * Default: false"
 */
format: Boolean;
/**
 * Value of the Callback Function name when type is "jsonp".
 * Default: "ip_ovo_gs"
 */
callback: String;
/**
 * Value of the IP Address.
 * The priority in the query parameter is higher than the IP parameter in the path.
 * Default: Request Client IP
 */
ip: String;`,{language:"typescript"}).value %></code></pre>

        <h4>Example</h4>

        <p><code><a href="/1.1.1.1?type=xml">/1.1.1.1?type=xml</a><br/>
            <a href="/1.1.1.1?type=jsonp&callback=ip">/1.1.1.1?type=jsonp&callback=ip</a><br/>
            <a href="/?type=html&ip=1.1.1.1">/?type=html&ip=1.1.1.1</a><br/>
            <a href="/2606:4700:4700::1111?type=xml">/2606:4700:4700::1111?type=xml</a><br/>
            <a href="/2606:4700:4700::1111?type=jsonp&callback=ip">/2606:4700:4700::1111?type=jsonp&callback=ip</a><br/>
            <a href="/?type=html&ip=2606:4700:4700::1111">/?type=html&ip=2606:4700:4700::1111</a><br/></code>
        </p>

        <h3><code>/[:ip]/&lt;Selector&gt;</code></h3>

        <p>Select to return some elements of the requested IP info.</p>
        <pre><code><%- highlight.highlight(`/**
 * Value of the IP Address.
 * The priority in the query parameter is higher than the IP parameter in the path.
 * Default: Request Client IP
 */
ip: String;
/**
 * Select Infomation.
 */
enum Selector {
    "ip",
    "asn.number",
    "asn.organization",
    "continent.code",
    "continent.id",
    "continent.name",
    "location.latitude",
    "location.longitude",
    "location.timeZone",
    "location.accuracy",
    "location.city",
    "location.zip",
    "country.code",
    "country.id",
    "country.name",
    "route",
    "reserve",
    "type.mobile",
    "type.proxy",
    "type.hosting",
    "type.is",
    "prefixLength",
}`,{language:"typescript"}).value %></code></pre>

        <h4>Example</h4>

        <p><code><a href="/ip">/ip</a><br/>
    <a href="/1.1.1.1/asn.number">/1.1.1.1/asn.number</a><br/>
    <a href="/2606:4700:4700::1111/asn.organization">/2606:4700:4700::1111/asn.organization</a><br/>
        </code></p>

    </api-doc>

    <footer>
        <p><a href="https://github.com/186526/ip.186.rip">IP.186.RIP</a>. Built by Sw2Express @ Node.js. <br>
            <small>Page Cache Key: <code><%= key %></code></small> <br><br>
            <small>This
                product includes GeoLite2 data created by MaxMind,
                available from
                <a href="https://www.maxmind.com">https://www.maxmind.com</a>.</small>
        </p>
    </footer>
</body>
