<!DOCTYPE html>

<head>
    <title>
        <%= address %> - IP.186.RIP
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/index.css"/>
</head>

<body>
    <header>
        <h1>About the Address.</h1>
        <pre><code><%= address %></code></pre>
        <p>Powered by <a href="https://ip.186.rip/">IP.186.RIP</a>. A streamlined and simple api for IP address
            information, IPv4/IPv6 dual stack support.</p>
    </header>
    <p>Request <overflow-y><code>/whois/<%= address %>?type=plain</code></overflow-y></p>

    <pre><code type="text/plain"><%- highlight.highlight(answerPlain,{language:"yaml"}).value %></code></pre>

    <p>Request <overflow-y><code>/whois/<%= address %>?type=json&format=true</code></overflow-y></p>
    
    <pre><code type="text/plain"><%- highlight.highlight(JSON.stringify(answerJSON,null,4),{language:"json"}).value %></code></pre>


    <footer>
        <p><a href="https://github.com/186526/ip.186.rip">IP.186.RIP</a>. Built by Sw2Express @ Node.js. <br><br>
            <small>This
                product includes GeoLite2 data created by MaxMind,
                available from
                <a href="https://www.maxmind.com">https://www.maxmind.com</a>.</small>
        </p>
    </footer>
</body>